/* contents */
.primay_text_item{
    color:#0264ff !important;
    *{color:#0264ff !important;}
}
.btn_box{
    display:inline-block;position:relative;border-radius:rem(100);overflow:hidden;box-sizing: border-box;padding:rem(17) rem(17);min-width:rem(153);
    background:#eee;
    &:before,
    &:after{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0;transition:.5s;}
    &:before{background-image: linear-gradient(to right, #0264ff, #2ed9b7);opacity:1;}
    &:after{background-image: linear-gradient(to left, #0264ff, #2ed9b7);opacity:0;}
    &.primary{
        .box_intext{}
    }
}
.box_intext{font-size:rem(18);line-height:1;font-weight:500;display:inline-block;position:relative;z-index:1;color:#fff;}
.btn_bottom_group{text-align: center;margin-top:rem(-5);line-height:0;
    .btn_box{margin:rem(5) rem(5) 0;}
}

/* 콤포넌트 */
.combo_item{display:inline-block;position:relative;
    &.active{
        .combo_target{
            background-position:100% 100%;border-radius:rem(4) rem(4) 0 0;border-bottom:0;
        }
    }
}
.combo_target{
    font-size:rem(14);box-sizing:border-box;color:#000;padding:rem(11) rem(42) rem(11) rem(12);border:1px solid #ccc;border-radius:rem(4);display:block;position:relative;white-space: nowrap;
    box-sizing: border-box;min-height:rem(44);
    background:#fff url("../images/bg_combo_ico.png") no-repeat 100% 0/rem(20) auto;
}
.combo_option_group{
    display:none;position:relative;overflow:hidden;z-index:20;background: #FFFFFF;width:calc(100% - 2px);border: 1px solid #ccc;border-top:0;border-radius:0 0 rem(4) rem(4);box-sizing: border-box; position:absolute;top:calc(100% + 5px);left:0;
    &.active{display:block;}
}
.combo_option_scroll{overflow:overlay;position:relative;}
.combo_option_list{
    > li{
        &:last-of-type{}
    }
}


.combo_option{
    font-size:rem(14);color: #868E96;display:block;padding:rem(8) rem(10);
    &:hover{background:#0264ff;color:#fff;}
    &.disabled{background:#f2f5f5;color:#adb3b3;cursor:default;}
}

/* 공통 alert confirm */
.btn_guide {display: inline-block;font-size: rem(16);padding: rem(15) rem(30);border: rem(1) solid #ddd;}

.design_modal_wrap {
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;min-width: rem(280);overflow: hidden;display: none;
    &.active {display: block;
        &.motion .bg_design_modal {background: rgba(0, 0, 0, .3);}
        &.motion .design_modal {opacity: 1;}
    }
}

.btn_dmsm_wrap{
    display: flex;
    justify-content: space-between;
    position:relative;overflow:hidden;
    border-radius: 0 0 rem(16) rem(16);

    height: rem(52);
}
.btn_dmsm{
    flex:1;display: flex;align-items:center;width: 100%;font-weight:350;height:100%;justify-content:center;text-align: center;font-size: rem(18);color: #fff;
    &.btn_dmsmclose{
        
        background-image: linear-gradient(to right, #010101, #646464);
    }
    &.btn_dmsmidentify{
        
        background-image: linear-gradient(to right, #0264ff, #2ed9b7);
    }
}
.bg_design_modal {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0);z-index: 0;transition: .5s;}

.design_modal_tb {position:absolute;top:0;left:0;display: table;width: 100%;height: 100%;table-layout: fixed;z-index: 5;position: absolute;top: 0;left: 0;}

.design_modal_td {display: table-cell;vertical-align: middle;padding: rem(20);}

.design_modal_w {display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;}

.design_modal {background: #fff;position: relative;transition: .5s opacity;opacity: 0;max-width:rem(400);margin:0 auto; text-align: center;
    border-radius: rem(20) rem(20) rem(50) rem(50);box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.2);
}
.design_modal_tit{padding: rem(25) rem(20) 0 rem(20);display: flex;box-sizing: border-box;font-size: rem(16);font-weight: 700; color: #222;}
.design_modal_cont_w {padding:rem(70) rem(20) rem(40);box-sizing: border-box;font-size: rem(16);font-weight: 500; color: #666;}

.design_modal_maintext{font-size:rem(22);color:#000000;word-break: keep-all;font-weight:350;}
.design_modal_subtext{font-size:rem(16);margin-top:rem(5);color:#000000;word-break: keep-all;font-weight:300;}

.design_bottom_popup_w {position: absolute;bottom: 0;left: 0;width: 100%;background: #fff;}


.design_modal_maintext{}

.btn_modal_close {display: block;width: rem(24);height: rem(24);position: absolute;top:rem(20);right:rem(20);font-size: 0;line-height: 0; 
    &:before,
    &:after {width: rem(14);height: rem(1);display: block;content: '';position: absolute;top: 50%;left: 50%;background: #666666;margin: rem(-0.5) 0 0 rem(-7);transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);}
    &:before {transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
    &:after {transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
}

@media (max-width:$breakpoint-tablets){
    .design_modal{max-width:rem(320)}
    .btn_modal_close{top:rem(16);right:rem(16)}
    .design_modal_cont_w{padding:rem(60) rem(16) rem(40)}
    .design_modal_maintext{font-size:rem(16);}
    .design_modal_subtext{font-size:rem(14);}
    .btn_dmsm{font-size:rem(16);}

    .btn_box{
        padding:rem(14);min-width:rem(110);
        background:#eee;
        &.primary{
            .box_intext{}
        }
    }
    .box_intext{font-size:rem(16);font-weight:400;}
}

@media (max-width:$breakpoint-phones){
    .design_modal{max-width:100%}
    .design_modal_td{padding:rem(40);}
    .design_modal_maintext{font-size:rem(16);}
    .design_modal_subtext{font-size:rem(13);}

    .box_intext{font-size:rem(14)}
}

@media (max-width:$breakpoint-smallphones){
    .design_modal_td{padding:rem(20);}
}


/* 공통 popup */
.popup_wrap {position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 80;display: none;align-items: center;justify-content: center;min-width: rem(280);overflow: hidden;flex-wrap: wrap;box-sizing:border-box;padding:0 rem(20);
    &.active {display: flex;
        &.motion .popup_item {opacity: 1;}
        &.motion .bg_dim {opacity: .6;}
        &.motion .botpos_vlayer {opacity: 1;transform: translateY(0);}
    }
    &.type2 {align-items: flex-end;overflow: hidden;
        .popup_item {background-color: transparent;}
    }
}

.popup_item {
    box-sizing: border-box;z-index: 20;max-width: rem(600);margin: rem(20) auto;max-height: calc(100% - rem(40));position: relative;display: flex;border-radius:rem(16);flex-direction: column;box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.2);width: 100%;opacity: 0;transition: .4s;
    &:before{display:block;content:'';height:rem(16);background-image: linear-gradient(to right, #f445ba, #783bff 32%, #0264ff 67%, #2ed9b7);border-radius:rem(16) rem(16) 0 0;}
}

.layer_wrap_parent{
    &.has_active_multi{
        .bg_dim{visibility: hidden;}
        .popup_wrap{
            &.active{
                &.active_first{
                    .bg_dim{visibility: visible;}
                }
            }
        }
    }
}


.bg_dim {display: block;width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 0;background: #222;opacity: 0;transition: .5s;
    &.no_transition {transition: 0s;opacity: .6;transform: none;}
}

.popup_titlelow {text-align: center;border-bottom: rem(1) solid #E9E9E9;flex: 0;padding: 0 rem(20) 0;position: relative;
    .middle_icon{width:rem(18);height: rem(18);
        &.icon_back2{background-position: left center;}
    }
}

.popup_title {font-size: rem(18);color: #2b2b2b;padding: rem(5) 0;font-weight: 700;min-height: rem(53);display: inline-flex;align-items: center;box-sizing: border-box;
    .form_input_item{
        .form_input{height: rem(37);}
    }
}

.popup_item_in {position: relative;overflow: hidden;overflow-y: auto;flex: 1;font-size: rem(12);color: #222;background:#fff;padding:rem(30)}

.pcont_inwrap {padding: rem(30) rem(20) rem(60);
    &.type2 {padding: 0;}
}

.pcont_subtitle {font-size: rem(18);color: #222;line-height: 1.3;font-weight: 600;}

.popup_elselow,
.popup_btnlow {flex: 0;border-top: rem(1) solid #e7e7e7;}

.notice_btn_row{line-height:0;padding: rem(10) rem(30);border-radius: 0 0 rem(16) rem(16);background-color: #000;display:flex;align-items: center;justify-content: space-between;min-height:rem(40);box-sizing: border-box;}
.notice_btn_main_cols{}
.notice_btn_sub_cols{}
.btn_today_close{
    display:inline-flex;align-items:center;
    .ico_check{display:block;content:'';flex:0 0 rem(16);width:rem(16);height:rem(16);background:#fff;border-radius:100%;position:relative;top:rem(1);
        &:before,
        &:after {width: rem(8);height: rem(1);display: block;content: '';position: absolute;top: 50%;left: 50%;background: #222;margin: 0 0 0 rem(-4);transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);}
        &:before {transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
        &:after {transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
    }
}
.btn_today_close_text{font-size:rem(16);color:#fff;line-height:1;margin-left:rem(10);}
.btn_notice_close{display:inline-block;color:#fff;font-size:rem(16);line-height:1;}

.btn_popup_close {display: inline-block;width: rem(53);height: rem(53);position: absolute;top: 0;right:0; left: auto; font-size: 0;line-height: 0;
    &:before,
    &:after {width: rem(24);height: rem(1.5);display: block;content: '';position: absolute;top: 50%;left: 50%;background: #222;margin: rem(-0.75) 0 0 rem(-15);transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);}
    &:before {transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
    &:after {transform: rotate(-45deg);-ms-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
    &.pos2 {left: rem(10);right: auto;}
}



@media (max-width:$breakpoint-tablets){
    .popup_item_in{padding:rem(20);}
    .popup_item{
        &:before{height:rem(8);}
    }
    .btn_notice_close,
    .btn_today_close_text{font-size:rem(14)}
    .notice_btn_row{padding:rem(10) rem(20)}
}

@media (max-width:$breakpoint-phones){
    
}

@media (max-width:$breakpoint-smallphones){
    
}


/* guide */

.img_step_list{
    display:flex;justify-content:space-between; text-align: center;
    > li{
        flex:0 0 rem(160);position:relative;
        &:after{display:block;content:'';width:rem(24);height:rem(160);background:url("../images/ic_arrow_imgnext@3x.png") no-repeat 50% 50%/100% auto;position:absolute;top:0;left:calc(100% + rem(30));}
        &:last-of-type{
            &:after{display:none;}
        }
    }
}
.img_step_item{}
.img_step_thum{
    background: #f2f5fb;position:relative;border-radius:100%;height:0;padding-bottom:0;padding-bottom:100%;max-width:100%;display:block;
    &:after{display:block;content:'';width:rem(80);height:rem(80);background:url("../images/ic_akapi.png") no-repeat 0 0/100% auto;position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
    &.ico_02:after{background-position:0 20%;}
    &.ico_03:after{background-position:0 40%;}
    &.ico_04:after{background-position:0 60%;}
    &.ico_05:after{background-position:0 80%;}
    &.ico_06:after{background-position:0 100%;}
}
.img_step_text{font-size:rem(16); color: #666;line-height:1.3;margin-top:rem(16);}
.define_step_list{
    margin-top:rem(80);
    > li{
        margin-bottom:rem(80);
        &:last-of-type{margin-bottom:0;} 
    }
}
.step_title_row{
    display:flex;
}
.step_title_main{
    flex:1;min-width:0;display:flex; align-items: center;
}
.step_title_bullet{
    flex:0;padding: rem(10) rem(24);border-radius: rem(100);font-size: rem(18);font-weight: 700;line-height:1.4;text-align: center;color: #fff;white-space: nowrap;display:flex;align-items: center;
    background-image: linear-gradient(to right, #0264ff, #2ed9b7);
}
.step_title_text{font-size: rem(26);font-weight: 700;line-height: 1;color: #000;display:inline-block;margin-left:rem(12);}
.step_title_else{
    flex:0;display:flex;justify-content:flex-end;align-items:center;
    > .btn_text_item{}
}
.btn_text_item{
    display:inline-flex;align-items:center;
    &.ico_direct{
        &:after{background-image:url("../images/ic_linkopen_2@3x.png");}
    }
    &[class*='ico_']{
        &:after{display:block;content:'';width:rem(24);height:rem(24);background-position:0 0;background-size:100% auto;background-repeat:no-repeat;position:relative;top:rem(1);}
    }
}
.text_item_in{display:inline-block;line-height:1;color:#666666;white-space: nowrap;}
.step_content_row{
    margin-top:rem(20);
}
.indent_order_list{
    > li{
        display:flex; margin-bottom:rem(20);
        &:last-of-type{margin-bottom:0;}
    }
}
.indent_order_number{display:inline-block;width:rem(28);height:rem(28);line-height:rem(28);font-size:rem(16);white-space: nowrap;color:#000000;font-weight:700;text-align: center;background:#f2f5fb;border-radius: 100%;box-sizing: border-box;margin-right:rem(10);}
.window .indent_order_number{
    line-height:rem(26);
}
.indent_order_text_g{
    flex:1;min-width:0;color: #666;font-size:rem(16);line-height:1.4;padding-top:rem(2);
    .dash_list{}
}
.indent_order_para{
    + .dash_list{margin-top:rem(10);}
}
.dash_list{
    > li{
        position:relative;margin-top:rem(10);padding-left:rem(12);word-break:keep-all;
        &:before{display:block;content:'-';position:absolute;top:rem(-1);left:0;}
        &:last-of-type{}
    }
}
.dash_text_g{}
.dot_text_list{
    font-size:rem(16);color:#666666;
    > li{
        position:relative;padding-left:rem(12);
        &:before{display:block;content:'';width:rem(6);height:rem(6);background-color: #202123;position:absolute;top:rem(11);left:0;border-radius:100%;}
        &:last-of-type{}
    }
}
.dot_text_g{}
.indent_order_para{}
.eximg_wrap{
    margin-top:rem(30);
    > img{vertical-align: top;width:100%;}
}
.primay_text_item{
    *{}
}
.code_item_list{
    > li{
        margin-top:rem(40);
        &:last-of-type{}
    }
}
.code_title_row{}
.code_title_item{display:flex;align-items: center;}
.code_mark{flex:0 0 rem(14);width:rem(14);height:rem(14);border-radius:100%;background:#09ec28;margin-right:rem(10);position:relative;top:rem(1);}
.code_title{font-size:rem(18);color:#000000;line-height:1;font-weight:700;}
.code_content_row{margin-top:rem(20);}
.code_item{position:relative;overflow-x:auto;
    &::-webkit-scrollbar {height:rem(12);}
}

.guide_copybox{
    padding: rem(30);border-radius: rem(8);background-color: #f7f7f8;position:relative;
    display:flex;align-items:center;
    &:before{display:block;content:'';width:rem(40);height:rem(40);background:url("../images/ic_api_info@3x.png") no-repeat 0 0/100% auto;flex:0 0 rem(40);margin-right:rem(16);}
}
.copybox_para{font-size:rem(16);color:#666666;}
.vertical_item_wrap{}
.vertical_item{
    margin-top:rem(80);
    &:last-of-type{}
}
.vitem_title_row{margin-bottom:rem(20);}
.vitem_title{font-size:rem(26);color:#000;line-height:1;font-weight:700;}
.vitem_content_row{
    .code_item{}
}
.swiper-table {
    .swiper-wrapper{display:block;}
    .swiper-slide{width:auto;}
}
.data_table_wrap{position:relative;overflow:hidden;
    &.has_depbar_wrap{

    }
}
.data_table{
    width:100%;border-top:1px solid #e2e4ee;
    thead{
        th{
            background-color: #f7f7f8;border-right:1px solid #e2e4ee;border-bottom:1px solid #e2e4ee;padding:rem(14) rem(20);text-align:left;
            &:last-of-type{border-right:0;}
        }
    }
    tbody{
        tr{
            td{
                border-right:1px solid #e2e4ee;border-bottom:1px solid #e2e4ee;text-align:left;padding:rem(14) rem(20);color:#666;
                &:last-of-type{border-right:0;}
                &.has_bar{
                    padding:0;position:relative;
                }
            }
        }
    }
    .fix_cols{}
    .long_cols{}
    .auto_cols{}
}
.depbar{background:#fff;border-right:1px solid #e2e4ee;box-sizing:border-box;width:rem(20);height:calc(100% + rem(1));position:absolute;top:0;left:0;z-index:2;
    &.htype2{height:100%;}
}
.data_thtext{display:inline-block;line-height:1;font-size:rem(16);font-weight:700;white-space: nowrap;}
.data_tdlabel{
    color:#000;
    &.has_dep{
        &.ins1{padding-left:rem(40);}
        &.ins2{padding-left:rem(60);}
        &.ins3{padding-left:rem(80);}
        &.ins4{padding-left:rem(100);}
        &.ins5{padding-left:rem(120);}
        .depbar{
            &.pos1{width:rem(20);}
            &.pos2{left:rem(20)}
            &.pos3{left:rem(40)}
            &.pos4{left:rem(60)}
            &.pos5{left:rem(80)}
        }
    }
}
.data_tdtext_g{
    .data_tdtext{
        margin-bottom:rem(30);
        &:last-of-type{margin-bottom:0;}
    }
}
.data_tdtext{
    font-size:rem(16);color:#666; word-break: keep-all;
    .data_tdpara{
        & + .dash_text_list{}
        & + .indent_item_list{}
    }
}
.data_tdpara{}
.indent_item_list{
    >li{
        &:last-of-type{}
    }
}
.indent_item{
    display:flex;
    .indent_bullet{flex:0;white-space: nowrap;margin-right:rem(5)}
    .indent_content{
        .indent_cpara{}
        .dash_text_list{}
    }
}
.indent_cpara{}
.dash_text_list{
    &.mtype2{
        > li{margin-bottom:rem(12);
            &:last-of-type{margin-bottom:0;}
        }
    }
    >li{
        position:relative;padding-left:rem(10);
        &:before{display:block;content:'-';position:absolute;top:0;left:0;}
        &:last-of-type{}
    }
}

.vitem_depitem{
    margin-top:rem(40);
    &:first-of-type{margin-top:rem(30);}
    &:last-of-type{}
}
.vitem_dep_title_row{
    margin-bottom:rem(20);display:flex; align-items: center; flex-wrap:wrap;
    > *{
        margin-right:rem(10);
        &:last-child{margin-right:0;}
    }
    .vitem_dep_title{margin-bottom:0;}
}
.vitem_dep_title{font-size:rem(18);line-height:1;margin-bottom:rem(20);font-weight:700;}
.vitem_dep_content{}

.apiform_wrap{display:flex;}
.apiform_field{flex: 0 0 43.40044742729306%}
.form_box{padding:rem(20);border-radius:rem(8);background-color: #f7f7f8;}
.form_row{
    margin-bottom:rem(10);
    &:last-of-type{margin-bottom:0;}
    &.control_row{
        display:flex;justify-content: space-between;align-items: center;line-height:0;
    }
}
input.form_input{
  height: rem(52);padding: 0 rem(20);line-height:1;box-sizing: border-box;border-radius: rem(4);font-size:rem(16);color:#000;width:100%;
  border: solid 1px #ccc;background-color: #fff;
  &:focus{border-color:#0264ff;}
}
.control_cols{
    &:last-of-type{}
}
.btn_textitem{
    display:inline-flex;align-items:center;
    &[class*="ico_"]{
        &:before{
            display:block;content:'';flex:0 0 rem(24);width:rem(24);height:rem(24);background-size:100% auto;background-repeat:no-repeat;background-position:50% 50%;
        }
    }
    &.ico_refresh{
        &:before{background-image:url("../images/ic_refresh@3x.png");}
    }
}
.textitem_in{display:inline-block;font-size:rem(18);color:#666666;line-height:1;font-weight:500;margin-left:rem(10);}
.btn_formsubmit{
    padding: rem(10) rem(20);border-radius: rem(4);display:inline-flex;align-items:center; min-height:rem(52);box-sizing: border-box;
    background-image: linear-gradient(to right, #0264ff, #2ed9b7);
    &[class*="ico_"]{
        &:before{
            display:block;content:'';flex:0 0 rem(24);width:rem(24);height:rem(24);background-size:100% auto;background-repeat:no-repeat;background-position:50% 50%;
        }
    }
    &.ico_search{
        &:before{background-image:url("../images/ic_searchs_w@3x.png");}
    }
}
.btn_formsubmit_in{display:inline-block;font-size:rem(18);color:#fff;line-height:1;font-weight:500;margin-left:rem(10);}

.api_getdata_zone{margin-top:rem(20);}
.api_sort_row{border-bottom:1px solid #e2e4ee;padding-bottom:rem(16);display:flex;}
.sort_fix_cols{
    flex:0;
    &:last-of-type{}
    > .combo_item{}
}
.api_getdata_row{

}
.api_getdata_list{
    border-bottom:1px solid #e2e4ee;min-height:rem(308);
    &.mode_drawer{border-bottom:0;}
    > li{
        &:last-of-type{}
    }
}
.apiform_api{margin-left:rem(20);flex:1;min-width:0;}
.api_getdata_item{
    display:block;padding:rem(20) rem(20);border-top:1px solid #e2e4ee;border-bottom:1px solid #e2e4ee;margin:rem(-1) 0 0;position:relative;
    &:hover,
    &.active{border-color:#0264ff;background-color:#f5f9ff;z-index:2;}
}
.getdata_main{font-size:rem(26);color:#000000;line-height:1;}
.getdata_sub_g{}
.datasub_list{
    display:flex;flex-wrap:wrap;position:relative;padding-top:rem(10);
    > li{
        position:relative;padding:rem(2) rem(24) 0 0;
        &:after{display:block;content:'';width:rem(4);height:rem(4);background-color: #e2e4ee;border-radius:100%;position:absolute;top:rem(13);right:rem(10);}
        &:last-of-type{
            padding-right:0;
            &:after{display:none;}
        }
    }
}
.datasub{display:inline-block;font-size:rem(16);color:#666666;line-height:1;}
.sort_long_cols{
    flex:1;justify-content:flex-end;min-width:0;display:flex;align-items:center;padding-left:rem(12);
    > input.input_calendar{flex:1;height:rem(44);}
    > .btn_sort_submit{margin-left:rem(12);}
}
input.input_calendar{flex:1;height:rem(44);padding:0 rem(48) 0 rem(12);background:#fff url("../images/input_ico_calendar.png") no-repeat 100% 50%/rem(42) auto;}
.btn_sort_submit{
    width: rem(44);height: rem(44);display:inline-block;flex:0 0 rem(44);box-sizing: border-box;
    border-radius: rem(4);background: #232529 url("../images/ic_searchs_w@3x.png") no-repeat 50% 50%/rem(24) auto;
}



.form_input_item_wrap {
    .warn_copy {display: none;}
    &.warn {
        .form_input_item,
        input.form_input {border-color: #FF3B6D;}
        .warn_copy {display: block;}
        .form_input_item {
            &:after {display: block;content: '';width: rem(16);height: rem(16);background: url("../images/icon/icon_error.png") no-repeat 0 0/100% auto;border-radius: 100%;}
        }
    }
}
.form_input_item{
    &.active{
        input.form_input{border-color:#0264ff;}
    }
    input.form_input{
        // &:focus{border-color:#ccc;}
    }
}
.search_field_wrap{
    .form_input_item{
        &.typing{
            input.form_input{border-color:#ccc !important;border-radius:rem(4) rem(4) 0 0;}
        }
    }
}

.warn_copy {color: #FF3B6D;font-size: rem(14);margin-top: rem(5)}

.input_control_group {display: flex;align-items: center;}

.search_field{
    &.active{
        input.form_input{}
    }
}

// .btn_input_reset {width: rem(16);height: rem(16);background: url("../images/icon/icon_reset.png") no-repeat 0 0/100% auto;border-radius: 100%;display: none;}

.auto_word_layer {
    &.auto_mode {display: block;}
    &.auto_scroll_show {opacity: 1;}
}

.auto_word_layer {z-index: 10;position: absolute;top:100%;left: 0;width: 100%;border: rem(1) solid #ccc;border-top:0;border-radius: 0 0 rem(4) rem(4);box-sizing: border-box;background: #fff;display: none;opacity: 0;}
.auto_word_list_wrap {overflow: overlay;position: relative;}
.auto_word_list {}
.auto_word_item {
    font-size:rem(14);color: #868E96;display:block;padding:rem(8) rem(10);
    &:hover{background:#0264ff;color:#fff;}
    &.disabled{background:#f2f5f5;color:#adb3b3;cursor:default;}
}


@media (max-width:$breakpoint-tablets){
    .img_step_list{justify-content: initial;
        > li{
            flex:1;
            &:after{left:calc(100% - rem(12));height:rem(100);}
        }
    }
    .img_step_item{}
    .img_step_thum{
        width:rem(100);height:rem(100);margin:0 auto;padding:0;
        &:after{width:rem(56);height:rem(56);}
    }

    .step_title_bullet{
       padding: rem(10) rem(20);font-size: rem(14);
    }
    .step_title_text{font-size: rem(22);}

    .code_mark{width:rem(12);height:rem(12);flex-basis: rem(12);margin-right:rem(8);}
    .code_content_row{margin-top:rem(12)}
    .code_item_list{
        margin-top:rem(40);
        >li{margin-top:rem(30)}
    }
    .vitem_title{font-size:rem(22)}
    .vitem_title_row{margin-bottom:rem(16);}

    
    .data_table{
        thead {
            th{}
        }
        tbody{
            td{font-size:rem(14);}
        }
    }
    .data_tdlabel,
    .data_tdtext,
    .data_thtext{font-size:rem(14);}

    .vitem_dep_title{font-size:rem(16);}

    .vitem_depitem{
        &:first-of-type{margin-top:rem(20);}
    }
    .vitem_dep_title{margin-bottom:rem(16);}

    .apiform_wrap{display:block;}
    .apiform_api{margin:rem(30) 0 0 0;}

    input.form_input{height:rem(44);padding:0 rem(12);font-size:rem(14);}
    .form_row{
        margin-bottom:rem(16);
        &:last-of-type{margin-bottom:0;}
    }
    .btn_formsubmit{min-height:rem(44);}
    .textitem_in{font-size:rem(16);margin-left:rem(4);}
    .btn_formsubmit_in{margin-left:rem(4);font-weight:400;font-size:rem(16);}
    .api_sort_row{padding-bottom:rem(12);
        &.respon_type2{display:flex;
            .sort_long_cols{margin-top:0;flex:auto;margin-left:0;justify-content:flex-start;
                > .btn_sort_submit{margin-left:0;}
            }
        }
    }
    .api_getdata_list{min-height:rem(97)}

    .api_getdata_item{padding:rem(16);}
    .getdata_main{font-size:rem(22);}
    .datasub_list{padding-top:rem(8)}

    .sort_long_cols{flex:inherit;}
}

@media (max-width:$breakpoint-phones){
    .img_step_list{
        flex-wrap:wrap;margin-bottom:rem(-42);
        > li{
            flex:0 0 50%;padding-bottom:rem(42);
            &:after{background-size:rem(18) auto}
            &:nth-of-type(2n){
                &:after{left:0;height:rem(24);width:100%;background:url("../images/ic_arrow_imgdown@3x.png") no-repeat 50% 50%/rem(18) auto;bottom:rem(10);top:auto;}
            }
            &:nth-of-type(2n+1):not(:first-of-type){
                &:after{background-image:url("../images/ic_arrow_imgreverse@3x.png");}
            }
        }
    }
    .img_step_text{margin-top:rem(10);font-size:rem(14);}
    .text_item_in{display:none;}
    .define_step_list{margin-top:rem(60);
        > li{margin-bottom:rem(60);}
    }
    .step_title_bullet{padding:rem(6) rem(20);}
    .step_title_text{font-size:rem(16);}
    .indent_order_text_g{font-size:rem(14);padding-top:rem(4)}
    .dash_list{
        > li{padding-left:rem(10)}
    }
    .indent_order_list{
        > li{
            margin-bottom:rem(16);
            
        }
    }
    .eximg_wrap{margin-top:rem(16);}
    .step_title_text{margin-left:rem(8)}
    .dot_text_list{font-size:rem(14);
        >li{
            &:before{top:rem(8);width:rem(6);height:rem(6);}
        }
    }
    .indent_order_number{font-size:rem(14)}

    .code_title{font-size:rem(14);}
    .step_content_row{margin-top:rem(16);}
    .code_item_list{margin-top:rem(30);}

    .copybox_para{font-size:rem(14);line-height:1.6;}
    .guide_copybox{padding:rem(20)}

    .vertical_item{margin-top:rem(60)}
    .vitem_title{font-size:rem(16);}
    .vitem_dep_title{font-size:rem(14);}
    .data_tdlabel,
    .data_tdtext{white-space: nowrap;}

    .swiper-drag-wrap {
        .swiper-wrapper{display:flex;}
        .swiper-slide{width:auto;}
        .swiper-scrollbar{position:static;margin-top:rem(5);width:100%;background:#fff;
            .swiper-scrollbar-drag{background:rgba(0,0,0,0.2);}
        }
    }
    
    .getdata_main{font-size:rem(16);}

    .datasub_list{
        > li{
            padding-right:rem(12);
            &:after{right:rem(4);}
        }
    }
    .datasub{font-size:rem(14)}

    .apiform_api{margin-top:rem(20);}

    .api_sort_row{display:block;
        &.respon_type2{display:flex;
            .sort_long_cols{margin-top:0;flex:1;justify-content:flex-end;margin-left:rem(10);}
        }
    }

    .sort_fix_cols{
        .combo_item{display:block;}
    }
    .sort_long_cols{margin:rem(12) 0 0 0;padding:0;}
}



/* main 공지팝업 */
.notice_popup_logo{margin-bottom:rem(30);width:rem(208);height:rem(24);background:url("../images/logo_tmapapi_b@3x.png") no-repeat 0 0/100% auto;}
.notice_popup_cont{
    font-size:rem(16);color:#666;
    *{font-size:rem(16);color:#666;}
}
@media (max-width:$breakpoint-tablets){
    .notice_popup_logo{margin-bottom:rem(20)}
    .notice_popup_cont{font-size:rem(14);}
}
@media (max-width:$breakpoint-phones){
    .notice_popup_logo{width:rem(168);height:rem(20);}
}

/* form */
.midform_inwrap{width:100%;max-width:rem(383);margin:0 auto;}
.midform_field{
    legend{display:block;padding:0;margin:0;}
    border-radius: rem(20) rem(20) 0 0;background-color: #fff;padding: rem(80) rem(30) rem(50);
}
.midform_title{
    text-align: center;font-size:rem(38);color:#000000;line-height:1;font-family:'omt';
    .primay_text_item{}
}
.midform_primary_row{margin-top:rem(38);}
.midform_input_group{}
.midform_input_row{
    margin-bottom:rem(20);
    &:last-of-type{margin-bottom:0;}
}
input.midform_input{
    height: rem(52);padding: 0 rem(14);border-radius: rem(4);border: solid 1px #ccc;background-color: #fff;line-height:1;font-size:rem(16);width:100%;box-sizing: border-box;color:#000;
    &:focus{border-color:#0264ff;}
}
.midform_else_row{margin-top:rem(20);}
.props_form_item{display:inline-flex;}
input.props_form{
    box-sizing: content-box; width:rem(16);height:rem(16);background:#fff url("../images/ico_formcheck.png") no-repeat 0 0/100% auto;border:1px solid #cccccc;border-radius:rem(4);appearance: none; vertical-align: middle;
    & + .props_label{margin-left:rem(12);cursor: pointer;}
    &:checked{background-color:#0264ff;border-color:#0264ff;background-position:0 100%;}
    &:checked + .props_label{}
}
.props_label{display:inline-block;color:#000;font-size:rem(16);line-height:1;}
.midform_submit_row{}
.btn_midform_submit{
    border-radius: 0 0 rem(20) rem(20);background-image: linear-gradient(to right, #0264ff, #2ed9b7);display:block;width:100%;box-sizing: border-box;text-align: center;padding:rem(14);
}
.btn_submit_text{display:inline-block;color:#fff;font-size:rem(18);line-height:1;}

@media (max-width:$breakpoint-tablets){
    .midform_inwrap{max-width:rem(356);}
    .midform_field{
        border-radius: rem(16) rem(16) 0 0;padding: rem(60) rem(20) rem(30);
    }
    .midform_title{font-size:rem(28);}
    .midform_primary_row{margin-top:rem(30);}
    .midform_input_row{
        margin-bottom:rem(10);
    }
    input.midform_input{
        height: rem(44);padding: 0 rem(12);font-size:rem(14);
    }
    .midform_else_row{margin-top:rem(16);}
    input.props_form{
        & + .props_label{margin-left:rem(8);}
    }
    .props_label{font-size:rem(14);padding-top:rem(1)}
    .btn_midform_submit{
        border-radius: 0 0 rem(16) rem(16);padding:rem(10);
    }
    .btn_submit_text{font-size:rem(16);}
}

@media (max-width:$breakpoint-phones){
    .midform_inwrap{max-width:rem(356);}
    .midform_field{padding: rem(40) rem(20) rem(20);}
    .midform_title{font-size:rem(22);}
    .midform_primary_row{margin-top:rem(20);}
}


/* terms */
.vertical_item_wrap{
    &.guide_wrap{
        .vertical_item{}
        .vitem_title_row{}
        .vitem_title{}
        .vitem_content_row{font-size:rem(16);}
        
        .dash_text_list{color:#666666;}

        & + .btn_bottom_group{margin-top:rem(95);}
    }
}
.guide_content_para{color:#666666;}

.guide_table_wrap{padding-top:rem(10);}
.guide_table{
    width:100%;
    thead{
        th{
            border-bottom:2px solid #000;padding-bottom:rem(10);text-align:left;padding-right:rem(10);box-sizing:border-box;
            &:last-of-type{padding-right:0;}
        }
    }
    tbody{
        td{
            text-align:left;color:#666666;border-bottom:1px solid #e2e4ee;padding:rem(18) rem(10) rem(18) 0;
            &:last-of-type{padding-right:0;}
        }
    }
    .short_cols{width:rem(280);}
    .long_cols{}
}
.guide_thtext{color:#000;font-weight:700;line-height:1;}
.guide_tdtext{color:#666;line-height:1.4;}

@media (max-width:$breakpoint-tablets){
    .guide_table_wrap{padding-top:rem(5);}

    .guide_table{
        tbody{
            td{
                padding:rem(16) rem(10) rem(16) 0;
            }
        }
        .short_cols{width:rem(210);}
        .long_cols{}
    }

    .vertical_item_wrap{
        &.guide_wrap{
            & + .btn_bottom_group{margin-top:rem(60);}
        }
    }
}

@media (max-width:$breakpoint-phones){
    .vertical_item_wrap{
        &.guide_wrap{
            .vitem_content_row{font-size:rem(14);}
            & + .btn_bottom_group{margin-top:rem(30);}
        }
    }
    
    .guide_table_wrap{padding-top:0;}
    .guide_table{
        thead{
            th{
                padding-bottom:rem(8);
            }
        }
        tbody{
            td{
                padding:rem(16) rem(10) rem(16) 0;
            }
        }
        .short_cols{width:rem(130);}
    }
}


/* finish */
.mid_finish_wrap{
    .btn_bottom_group{margin-top:rem(35);}
}
.ico_finish{
    width:rem(160);height:rem(160);background-color:#f2f5fb;margin:0 auto rem(40);background-position:50% 50%;background-repeat:no-repeat;background-size:rem(80) auto;border-radius:100%;
    &.ico_message{background-image: url("../images/ic_mail@3x.png");}
}
.finish_message_group{
    text-align: center;
}
.finish_message_main{font-size:rem(26);font-weight:700;
    *{font-weight:700;word-break: keep-all;}
}
.finish_message_sub{font-size:rem(16);color:#999999;margin-top:rem(12);}

@media (max-width:$breakpoint-tablets){
    .mid_finish_wrap{
        .btn_bottom_group{margin-top:rem(25);}
    }
    .ico_finish{margin-bottom:rem(30);width:rem(100);height:rem(100);background-size:rem(56) auto;}
    .finish_message_main{font-size:rem(22);}
    .finish_message_sub{font-size:rem(14);}
}

@media (max-width:$breakpoint-phones){
    .ico_finish{margin-bottom:rem(20);}
    .finish_message_main{font-size:rem(16);}
    .finish_message_sub{margin-top:rem(12);}

    .mid_finish_wrap{
        .btn_bottom_group{margin-top:rem(20);}
    }
}