// component guide
.guide_page{background:#f8f8f8;min-height:100vh}
.subcontent_title{font-size:rem(30);padding:rem(30) 0;}
.guide_page_wrap{max-width:rem(1200);margin:0 auto;padding:rem(20)}
.source_his_item{margin-bottom:rem(100)}
.source_his_item:last-of-type{margin-bottom:0}
.component_title{font-size:24px;color:#000;font-weight:700;border-bottom:2px solid #000;padding-bottom:rem(20);margin-bottom:rem(20)}
.component_title_sub{font-size:20px;color:#000;}
.textarea_size{box-sizing:border-box;width:100%;padding:20px;margin-top:rem(40);overflow:hidden;resize:none;}
.render_wrap{
    
    > *{margin:rem(10) rem(30) 0 0;vertical-align: middle;}
    &.type2 > *{margin:rem(10) 0 0 0;}
    input.input_calendar_mb{background-color:#fff;}

    .btn_bottom_group{text-align: left;}
    .form_box{padding:0}
}
.component_dep_wrap{}
.component_dep{margin-bottom:rem(40);}
.component_dep:last-of-type{margin-bottom:0;}
@media (max-width:$breakpoint-tablets) {
    .component_title{font-size:rem(16)}
    .guide_page_wrap{padding:rem(20)}
}
@media (max-width:$breakpoint-phones) {
    .component_title{font-size:rem(14)}
    .guide_page_wrap{padding:rem(16)}
}


#map_div {
    background:#ddd;
    height:100%;
    color:#000;
    font-size:16px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:351px
  }
  
  @media (max-width: 767px) {
    pre > code{
      font-size: 0.8rem;
    }
  }
  @media (max-width: 1280px) {
    pre > code{
      font-size: 1rem;
    }
  }
  @media (max-width: 359px) {
    pre > code{
      font-size: 0.8rem;
    }
  }
  pre > code{
    /*margin: 0 50% 0 0;*/
    tab-size: 5;
    border-radius: 8px;
    line-height: 27px;
    color:#fff!important;
  }
  
 
  
  .sub_title{
    font-size:smaller;
    font-weight:bold;
    color: #0264ff;
    margin-top: 0.4375rem;
    word-break: keep-all;
  }
  @media (max-width: 767px) {
     /* 모바일 수평 스크롤 금지 */
     /* [20231119 - 유지보수] 퍼블서버에서 모바일 미디어쿼리로 이동 */
     html, body {
       max-width: 100%;
       overflow-x: hidden;
      }
    /* // [20231119 - 유지보수] 퍼블서버에서 모바일 미디어쿼리로 이동 */
    .sub_title{
      font-size:0.71rem;
      margin-left:1.5rem;
      margin-right:1.5rem;
    }
  }
  .verifCheck{
    margin-top: 0.5rem;
    font-size: 0.752rem;
    color: red;
  }
  /*@media (max-width: 767px) {*/
  /*  .img_size{*/
  /*    width:43.5px;*/
  /*    height: 16.5px;*/
  /*    object-fit: scale-down;*/
  /*  }*/
  /*}*/
  /*모바일 스크롤바 설정*/
  /*::-webkit-scrollbar {*/
  /*  -webkit-appearance: none;*/
  /*  -webkit-overflow-scrolling: touch;*/
  /*}*/
  
  /*::-webkit-scrollbar:vertical {*/
  /*  width: 12px;*/
  /*}*/
  
  /*::-webkit-scrollbar:horizontal {*/
  /*  height: 12px;*/
  /*}*/
  
  /*::-webkit-scrollbar-thumb {*/
  /*  background-color: rgba(0, 0, 0, .5);*/
  /*  border-radius: 10px;*/
  /*  border: 2px solid #ffffff;*/
  /*}*/
  
  /*::-webkit-scrollbar-track {*/
  /*  border-radius: 10px;*/
  /*  background-color: #ffffff;*/
  /*}*/